main{
    
    font-size: 64px;
    background-image: url('img/fondoIndex.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
#comenzar a{
    background-color: transparent;
    transition:all 0.3s ease-in;
}
#comenzar a:hover{
    font-size: 80px;
    color:rgb(250, 216, 165);
}